APScheduler==3.10.4
blinker==1.6.2
certifi==2024.7.4
charset-normalizer==3.2.0
click==8.1.7
feedparser==6.0.10
Flask==2.3.3
gunicorn==22.0.0
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.5
MarkupSafe==2.1.3
packaging==23.1
pytz==2023.3
requests==2.32.2
sgmllib3k==1.0.0
six==1.16.0
tzlocal==5.0.1
urllib3==2.2.2
Werkzeug==3.0.6
feedwerk==1.1.0
python-dateutil
pyopml==1.0.0