<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kagi Small Web</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="header">
    <div id="controls">
      {% if not no_results %}
      <a href="{{ prefix }}{{ query_string }}" class="stumble-link">
        <button class="next-button" title="Show next post">Next Post</button>
      </a>
      {% endif %}
      <form action="{{ prefix }}favorite?{{ request.query_string.decode()|safe }}" method="post">
        <input type="hidden" name="url" value="{{ url }}">
        <button type="submit" title="Appreciate this post" class="favorite-link">Appreciate{% if favorites_count > 0 %} ({{ favorites_count }}){% endif %}</button>
      </form>
      <div id="url-display">
      {% if author and author != '' and author !=" " %}
        <span id="author" title="author">{{author}}</span> @ 
      {% endif %}

      <a href="{{url}}">{{short_url}}</a>

      </div>
      <div id="url-display-phone">
        <a class="phone" href="{{url}}">{{domain}}</a>

      </div>
      
    </div>
    <div class="middle">
      <input type="radio" id="close-popup" name="popup" class="popup-radio" checked>

      
      <!-- Note Popup 
      <div class="popup-container">
        <label for="note-popup" class="popup-link">{{ 'Notes' if notes_count else 'Note' }}{{ ' (' ~ notes_count ~ ')' if notes_count else '' }}</label>
        <input type="radio" id="note-popup" name="popup" class="popup-radio">
        <div class="popup">
          {% for note, timestamp in notes_list %}
            <div class="note {% if loop.index % 2 == 0 %}alternate{% endif %}">
              <span class="note-time">({{ timestamp|time_ago }})</span> {{ note }}
            </div>
          {% endfor %}
          <form action="{{ prefix }}note" method="post">
            <p style="text-align:left">Got thoughts on this post? Share them in a public note.</p>
            <textarea name="note_content" class="note-textarea"></textarea>
            <input type="hidden" name="url" value="{{ url }}" />
            <button type="submit" class="button ok-button">Submit</button>
            <label for="close-popup" class="button cancel-button">Cancel</label>
          </form>
        </div>
      </div>
      -->
     
      <!-- Share Popup -->
      <div class="popup-container">
        <label for="spread-love" class="popup-link" title="Share this post">Share</label>
        <input type="radio" id="spread-love" name="popup"  class="popup-radio">
        <div class="popup spread-love">
          <a href="https://news.ycombinator.com/submitlink?u={{url|urlencode}}&t={{title|urlencode}}" class="share-option" target="_blank">Hacker News</a>
          <a href="https://www.reddit.com/submit?url={{url|urlencode}}&title={{title|urlencode}}" class="share-option" target="_blank">Reddit</a>
          <a href="https://twitter.com/share?url={{url|urlencode}}&text={{title|urlencode}}" class="share-option" target="_blank">Twitter</a>
          <a href="https://mastodon.social/share?text={{title|urlencode}}%0A%0A{{url|urlencode}}" class="share-option" target="_blank">Mastodon</a>
          <a href="https://lemmy.world/create_post?url={{url|urlencode}}&title={{title|urlencode}}" class="share-option" target="_blank">Lemmy</a>
          <a href="https://lobste.rs/stories/new?url={{url|urlencode}}&title={{title|urlencode}}" class="share-option" target="_blank">Lobsters</a>
          <a href="https://cohost.org" class="share-option" target="_blank">Cohost</a>
          <a href="mailto:?subject={{title|urlencode}}&body=Check%20out%20this%20link:%20{{url|urlencode}}" class="share-option" target="_blank">Email</a>
          <a href="https://kagi.com/summarizer/index.html?url={{ url|urlencode }}" class="share-option"
          target="_blank">Universal Summarizer</a>
          <a href="{{ prefix }}?url={{ url|urlencode }}{% if query_string %}&{{ query_string[1:] }}{% endif %}"
             class="share-option" target="_blank">Link here</a>


          <label for="close-popup" class="sbutton cancel-button">Cancel</label>
        </div>
      </div>
       <!-- Flag Popup -->
      <form action="{{ prefix }}flag_content?{{ request.query_string.decode()|safe }}" method="post">
        <input type="hidden" name="url" value="{{ url }}">
        <button title="Flag this post" type="submit" class="flag-link">Flag{% if flag_content_count > 0 %} <span class="flag-danger">({{ flag_content_count }})</span>{% endif %}</button>
      </form>

      {% if current_mode==1 %} 
        <a id="switch"  href="{{ prefix }}">Web</a>
        <a id="switch"  href="{{ prefix }}?app">Appreciated</a>
        <a id="switch"  href="{{ prefix }}?comic">Comics</a>
      {% elif current_mode==2 %}
        <a id="switch"  href="{{ prefix }}">Web</a>
        <a id="switch"  href="{{ prefix }}?yt">Videos</a>
        <a id="switch"  href="{{ prefix }}?comic">Comics</a>
      {% elif current_mode==4 %}
        <a id="switch"  href="{{ prefix }}">Web</a>
        <a id="switch"  href="{{ prefix }}?app">Appreciated</a>
        <a id="switch"  href="{{ prefix }}?yt">Videos</a>
      {% else %}
        <a id="switch"  href="{{ prefix }}?app">Appreciated</a>  
        <a id="switch"  href="{{ prefix }}?yt">Videos</a>
        <a id="switch"  href="{{ prefix }}?comic">Comics</a>
      {% endif %}      
    </div>
    <div class="right">
     
       <form action="{{ prefix }}" method="get" id="search-form">
        <div class="search-container">
          <input type="text" name="search" placeholder="Search..." value="{{ search_query }}" id="search-input" style="width: 100px;">
          <span class="clear-search" id="clear-search">&times;</span>
        </div>
      </form>
       <a href="https://kagi.com" title="Visit Kagi">Kagi</a>
       <a href="https://github.com/kagisearch/smallweb" title="Visit GitHub repository">Contribute</a>
       <div class="popup-container">
        <label for="rss-popup" class="popup-link" title="Subscribe to RSS">RSS</label>
        <input type="radio" id="rss-popup" name="popup" class="popup-radio">
        <div class="popup spread-love rss-popup">
          <p>Grab the RSS feed you like.</p>
         <a class="share-option" target="_blank" href="https://kagi.com/api/v1/smallweb/feed/">Small Web ({% if all_count is defined %}{{ all_count }}{% else %}0{% endif %})</a>
         <a class="share-option" target="_blank" href="https://kagi.com/smallweb/appreciated">Appreciated ({% if appreciated_count is defined %}{{ appreciated_count }}{% else %}0{% endif %})</a>
         <a class="share-option" target="_blank" href="https://kagi.com/api/v1/smallweb/feed/?yt">Videos ({% if videos_count is defined %}{{ videos_count }}{% else %}0{% endif %})</a>
         <a class="share-option" target="_blank" href="https://kagi.com/api/v1/smallweb/feed/?gh">Code ({% if code_count is defined %}{{ code_count }}{% else %}0{% endif %})</a>
         <a class="share-option" target="_blank" href="https://kagi.com/api/v1/smallweb/feed/?comic">Comics ({% if comics_count is defined %}{{ comics_count }}{% else %}0{% endif %})</a>
         <a
         class="share-option" target="_blank" href="https://kagi.com/smallweb/opml">OPML</a>
          <label for="close-popup" class="sbutton cancel-button">Cancel</label>
        </div>
      </div>

    

    </div>
      <div style="padding-right:40px" class="popup-container right-popup-container about">
          <label for="about-popup" class="popup-link">About</label>
          <input type="radio" id="about-popup" name="popup" class="popup-radio">
          <div class="popup right-popup">
<label class="close-popup-button" for="close-popup">X</label>

<p>Hey there, welcome to Kagi Small Web!</p>
<p>Imagine the internet like a huge neighborhood. There's a lot of folks around, but we rarely bump into each other, right? Kagi's all about
humanizing the web and we want to help surface the people behind the posts and stories that zip
by. This less known corner of the web is also known as the "small web". Read
more in our <a class="container-link" href="https://blog.kagi.com/small-web">blog post</a>.</p>
<p>We want to amplify the voices of genuine humans on the web - see <a class="container-link"
href="https://github.com/kagisearch/smallweb#small-web">our sources</a>
or check if your blog is in the <a class="container-link" href="https://github.com/kagisearch/smallweb/blob/main/smallweb.txt">list</a>. You'll also
encounter these pages now in <a class="container-link" href="https://kagi.com">Kagi search</a> when you're looking for something relevant.</p>
<p>Hit 'Next Post' to read something new. We only show posts from the last
seven days to keep it fresh. Feel like saying thanks or jotting down a thought? Use 'Appreciation' and 'Notes'. They'll be around for about a week, but hey, it's a way to say "hi" to someone else out here.
</p>
<p>Find a cool site or spot something sketchy? Use 'Report/Add Site' to help
curate the feed. 
</p>
<p>
And yep, this whole thing is <a class="container-link"
href="https://github.com/kagisearch/smallweb">open-source</a>. Oh, and no JavaScript on our
end.</p>
<p>---</p>
<p>So, what do you say? Ready to meet some neighbors? 
<br/><br/></p>

          </div>
        </div>


    <a href="https://kagi.com"><img id="logo" src="{{ url_for('static', filename='doggo_px.png') }}" alt="Kagi Doggo
    mascot"/></a>
  </div>
  {% if no_results %}
    <div id="content" class="no-results" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: calc(100vh - 60px);">
      <h2 style="font-family: pixel, Arial, sans-serif; color: #2c3e50; margin-bottom: 20px;">No results found for "{{ search_query }}"</h2>
      <a href="{{ prefix }}" class="clear-search-button">Clear Search</a>
    </div>
  {% elif current_mode == 1 %}
    <div id="content-yt">
      <iframe 
        width="840" 
        height="472" 
        src="https://www.youtube.com/embed/{{videoid}}?rel=0" 
        title="{{title}} 
        video" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        {% if flag_content_count >= 5 %}
          srcdoc='<p>The content of this page has been flagged by users. Click below to open the page in new tab.</p><a target=_blank href="https://www.youtube.com/embed/{{videoid}}?rel=0">View Flagged Video</a>'
        {% endif %}
      ></iframe>
    </div>
  {% else %}
    <div id="content">
      <iframe 
        src="{{url}}"
        {% if flag_content_count >= 5 %}
          srcdoc='<p>The content of this page has been flagged by users. Click below to open the page in new tab.</p><a href="{{url}}" target=_blank>View Flagged Content</a>'
        {% endif %}
      ></iframe>
    </div>
  {% endif %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('search-input');
    const clearSearch = document.getElementById('clear-search');
    const searchForm = document.getElementById('search-form');

    clearSearch.addEventListener('click', function() {
        searchInput.value = '';
        searchForm.submit();
    });
});
</script>
</body>
</html>
